@page "/analytics/devices"

@using TinyInsights.Web.Services

@inherits TinyInsightsComponentBase

@inject IInsightsService Service
<RadzenStack Gap="20">
    <RadzenRow JustifyContent="JustifyContent.End">
        <GlobalFilters />
    </RadzenRow>
    <div class="wrapbox">
        <div class="wrapitem">
            <RadzenCard>
                <RadzenStack>
                    <h2>Operating systems</h2>

                    @if (isLoadingOperatingSystems)
                    {
                        <RadzenProgressBarCircular Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
                    }
                    else
                    {
                        <RadzenChart>
                            <RadzenPieSeries Data="@operatingSystemUsers" Title="Users" CategoryProperty="Key" ValueProperty="Percent">
                                <RadzenSeriesDataLabels Visible="true" />
                            </RadzenPieSeries>
                        </RadzenChart>
                    }
                </RadzenStack>
            </RadzenCard>
        </div>
        <div class="wrapitem">
            <RadzenCard>
                <RadzenStack>
                    <h2>Device types</h2>
                    @if (isLoadingIdiom)
                    {
                        <RadzenProgressBarCircular Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
                    }
                    else
                    {
                        <RadzenChart>
                            <RadzenPieSeries Data="@idiomUsers" Title="Users" CategoryProperty="Key" ValueProperty="Percent">
                                <RadzenSeriesDataLabels Visible="true" />
                            </RadzenPieSeries>
                        </RadzenChart>
                    }
                </RadzenStack>
            </RadzenCard>
        </div>
        <div class="wrapitem">
            <RadzenCard>
                <RadzenStack>
                    <h2>Manufactures</h2>
                    @if (isLoadingManufactures)
                    {
                        <RadzenProgressBarCircular Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
                    }
                    else
                    {
                        <RadzenChart>
                            <RadzenPieSeries Data="@manufactures" Title="Users" CategoryProperty="Key" ValueProperty="Percent">
                                <RadzenSeriesDataLabels Visible="true" />
                            </RadzenPieSeries>
                        </RadzenChart>
                    }
                </RadzenStack>
            </RadzenCard>
        </div>
            

    </div>
    <div class="wrapbox">
        <div class="wrapitem">
            <RadzenCard>
                <RadzenStack>
                    <h2>Operating system versions</h2>
                    @if (isLoadingOperatingSystemVersions)
                    {
                        <RadzenProgressBarCircular Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
                    }
                    else
                    {
                        <RadzenDataGrid Data="operatingSystemVersions" PageSize="20" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true">
                            <Columns>
                                <RadzenDataGridColumn TItem="CountPerKey" Title="Operating system version" Property="@nameof(CountPerKey.Key)" />
                                <RadzenDataGridColumn TItem="CountPerKey" Title="Count" Property="@nameof(CountPerKey.Count)" Width="100px" />
                            </Columns>
                        </RadzenDataGrid>
                    }
                </RadzenStack>
            </RadzenCard>
        </div>
    </div>

</RadzenStack>
@code {
    [CascadingParameter]
    public GlobalFilter GlobalFilter { get; set; }

    private bool isLoadingIdiom = true, isLoadingOperatingSystems = true, isLoadingManufactures = true, isLoadingOperatingSystemVersions = true;

    private List<PercentPerKey> idiomUsers = new();
    private List<PercentPerKey> operatingSystemUsers = new();
    private List<PercentPerKey> manufactures = new();
    private List<CountPerKey> operatingSystemVersions = new();

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        try
        {
            await Task.WhenAll(LoadUserIdioms(), LoadUserOperatingSystems(), LoadManufactures(), LoadOperatingSystemVersions());
        }
        catch(Exception ex)
        {
           HandleException(ex);
        }
    }

    private async Task LoadUserIdioms()
    {
        isLoadingIdiom = true;
        var result = await Service.GetUsersPerIdiom(GlobalFilter);
        var total = result.Sum(x => x.Count);
        idiomUsers = result.Select(x => new PercentPerKey(x.Key, x.Count)).ToList();
        isLoadingIdiom = false;

        StateHasChanged();
    }

    private async Task LoadUserOperatingSystems()
    {
        isLoadingOperatingSystems = true;
        var result = await Service.GetUsersPerOperatingSystem(GlobalFilter);
        var total = result.Sum(x => x.Count);
        operatingSystemUsers = result.Select(x => new PercentPerKey(x.Key, x.Count)).ToList();
        isLoadingOperatingSystems = false;

        StateHasChanged();
    }

    private async Task LoadManufactures()
    {
        isLoadingManufactures = true;
        var result = await Service.GetUserPerManufacturer(GlobalFilter);
        var total = result.Sum(x => x.Count);
        manufactures = result.Select(x => new PercentPerKey(x.Key, x.Count)).ToList();
        isLoadingManufactures = false;

        StateHasChanged();  
    }

    private async Task LoadOperatingSystemVersions()
    {
        isLoadingOperatingSystemVersions = true;

        var result = await Service.GetUsersPerOperatingSystemVersion(GlobalFilter);
        operatingSystemVersions = result.OrderByDescending(x => x.Count).ToList();

        isLoadingOperatingSystemVersions = false;

        StateHasChanged();
    }
}