@page "/analytics/devices"

@using TinyInsights.Web.Services

@inherits TinyInsightsComponentBase

@inject IInsightsService Service
<RadzenStack Gap="20">
    <RadzenRow JustifyContent="JustifyContent.End">
        <GlobalFilters />
    </RadzenRow>
    <div class="wrapbox">
        <div class="wrapitem">
            <RadzenCard>
                <RadzenStack>
                    <h2>Operating systems</h2>

                    @if (isLoadingOperatingSystems)
                    {
                        <RadzenProgressBarCircular Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
                    }
                    else
                    {
                        <RadzenTabs TabPosition="TabPosition.TopRight">
                            <Tabs>
                                <RadzenTabsItem Icon="list">
                                    <RadzenDataGrid Data="operatingSystemUsers">
                                        <Columns>
                                            <RadzenDataGridColumn TItem="CountPerKey" Title="Country" Property="@nameof(CountPerKey.Key)" />
                                            <RadzenDataGridColumn TItem="CountPerKey" Title="Count" Property="@nameof(CountPerKey.Count)" Width="100px" />
                                        </Columns>
                                    </RadzenDataGrid>
                                </RadzenTabsItem>
                                <RadzenTabsItem Icon="pie_chart">
                                    <RadzenChart>
                                        <RadzenPieSeries Data="@operatingSystemUsers" Title="Users" CategoryProperty="@nameof(CountPerKey.Key)" ValueProperty="@nameof(CountPerKey.Count)">
                                            <RadzenSeriesDataLabels Visible="true" />
                                        </RadzenPieSeries>
                                    </RadzenChart>
                                </RadzenTabsItem>
                            </Tabs>
                        </RadzenTabs>
                    }
                </RadzenStack>
            </RadzenCard>
        </div>
        <div class="wrapitem">
            <RadzenCard>
                <RadzenStack>
                    <h2>Device types</h2>
                    @if (isLoadingIdiom)
                    {
                        <RadzenProgressBarCircular Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
                    }
                    else
                    {
                        <RadzenTabs TabPosition="TabPosition.TopRight">
                            <Tabs>
                                <RadzenTabsItem Icon="list">
                                    <RadzenDataGrid Data="idiomUsers">
                                        <Columns>
                                            <RadzenDataGridColumn TItem="CountPerKey" Title="Country" Property="@nameof(CountPerKey.Key)" />
                                            <RadzenDataGridColumn TItem="CountPerKey" Title="Count" Property="@nameof(CountPerKey.Count)" Width="100px" />
                                        </Columns>
                                    </RadzenDataGrid>
                                </RadzenTabsItem>
                                <RadzenTabsItem Icon="pie_chart">
                                    <RadzenChart>
                                        <RadzenPieSeries Data="@idiomUsers" Title="Users" CategoryProperty="@nameof(CountPerKey.Key)" ValueProperty="@nameof(CountPerKey.Count)">
                                            <RadzenSeriesDataLabels Visible="true" />
                                        </RadzenPieSeries>
                                    </RadzenChart>
                                </RadzenTabsItem>
                            </Tabs>
                        </RadzenTabs>
                    }
                </RadzenStack>
            </RadzenCard>
        </div>
        <div class="wrapitem">
            <RadzenCard>
                <RadzenStack>
                    <h2>Manufactures</h2>
                    @if (isLoadingManufactures)
                    {
                        <RadzenProgressBarCircular Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
                    }
                    else
                    {
                        <RadzenTabs TabPosition="TabPosition.TopRight">
                            <Tabs>
                                <RadzenTabsItem Icon="list">
                                    <RadzenDataGrid Data="manufactures">
                                        <Columns>
                                            <RadzenDataGridColumn TItem="CountPerKey" Title="Country" Property="@nameof(CountPerKey.Key)" />
                                            <RadzenDataGridColumn TItem="CountPerKey" Title="Count" Property="@nameof(CountPerKey.Count)" Width="100px" />
                                        </Columns>
                                    </RadzenDataGrid>
                                </RadzenTabsItem>
                                <RadzenTabsItem Icon="pie_chart">
                                    <RadzenChart>
                                        <RadzenPieSeries Data="@manufactures" Title="Users" CategoryProperty="@nameof(CountPerKey.Key)" ValueProperty="@nameof(CountPerKey.Count)">
                                            <RadzenSeriesDataLabels Visible="true" />
                                        </RadzenPieSeries>
                                    </RadzenChart>
                                </RadzenTabsItem>
                            </Tabs>
                        </RadzenTabs>
                    }
                </RadzenStack>
            </RadzenCard>
        </div>
        <div class="wrapitem">
            <RadzenCard>
                <RadzenStack>
                    <h2>Operating system versions</h2>
                    @if (isLoadingOperatingSystemVersions)
                    {
                        <RadzenProgressBarCircular Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
                    }
                    else
                    {
                        <RadzenTabs TabPosition="TabPosition.TopRight">
                            <Tabs>
                                <RadzenTabsItem Icon="list">
                                    <RadzenDataGrid Data="operatingSystemVersions">
                                        <Columns>
                                            <RadzenDataGridColumn TItem="CountPerKey" Title="Country" Property="@nameof(CountPerKey.Key)" />
                                            <RadzenDataGridColumn TItem="CountPerKey" Title="Count" Property="@nameof(CountPerKey.Count)" Width="100px" />
                                        </Columns>
                                    </RadzenDataGrid>
                                </RadzenTabsItem>
                                <RadzenTabsItem Icon="pie_chart">
                                    <RadzenChart>
                                        <RadzenPieSeries Data="@operatingSystemVersions" Title="Users" CategoryProperty="@nameof(CountPerKey.Key)" ValueProperty="@nameof(CountPerKey.Count)">
                                            <RadzenSeriesDataLabels Visible="true" />
                                        </RadzenPieSeries>
                                    </RadzenChart>
                                </RadzenTabsItem>
                            </Tabs>
                        </RadzenTabs>
                    }
                </RadzenStack>
            </RadzenCard>
        </div>

    </div>

</RadzenStack>
@code {
    private bool isLoadingIdiom = true, isLoadingOperatingSystems = true, isLoadingManufactures = true, isLoadingOperatingSystemVersions = true;

    private List<CountPerKey> idiomUsers = new();
    private List<CountPerKey> operatingSystemUsers = new();
    private List<CountPerKey> manufactures = new();
    private List<CountPerKey> operatingSystemVersions = new();

    private CancellationTokenSource cts = new();

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        try
        {
            await Task.WhenAll(
                LoadUserIdioms(cts.Token),
                LoadUserOperatingSystems(cts.Token),
                LoadManufactures(cts.Token),
                LoadOperatingSystemVersions(cts.Token)
            );
        }
        catch(Exception ex)
        {
            HandleException(ex);
        }
    }

    private async Task LoadUserIdioms(CancellationToken cancellationToken = default)
    {
        isLoadingIdiom = true;
        idiomUsers = await Service.GetUsersPerIdiom(GlobalFilter, cancellationToken);
        
        isLoadingIdiom = false;

        StateHasChanged();
    }

    private async Task LoadUserOperatingSystems(CancellationToken cancellationToken = default)
    {
        isLoadingOperatingSystems = true;
        operatingSystemUsers = await Service.GetUsersPerOperatingSystem(GlobalFilter, cancellationToken);
       
        isLoadingOperatingSystems = false;

        StateHasChanged();
    }

    private async Task LoadManufactures(CancellationToken cancellationToken = default)
    {
        isLoadingManufactures = true;
        var result = await Service.GetUserPerManufacturer(GlobalFilter, cancellationToken);
        manufactures = result.OrderByDescending(x => x.Count).ToList();
       
        isLoadingManufactures = false;

        StateHasChanged();  
    }

    private async Task LoadOperatingSystemVersions(CancellationToken cancellationToken = default)
    {
        isLoadingOperatingSystemVersions = true;

        var result = await Service.GetUsersPerOperatingSystemVersion(GlobalFilter, cancellationToken);
        operatingSystemVersions = result.OrderByDescending(x => x.Count).ToList();

        isLoadingOperatingSystemVersions = false;

        StateHasChanged();
    }
}